*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: arial, serif;
    font-weight: normal;
}
html {
    background-color: black;
    /* height: 100vh; */
    /* background-image: url(brave_mBtwB4mBxj.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh; */
}
body {
    padding: 0;
    margin: 0;
}

/* eror modal */
.eror {
    /* max-width: 40%; */
    border: 0;
    color: red;
    box-shadow: 0 0 3rem black;
    min-height: 23%;
}
.eror::backdrop {
    background: linear-gradient(to bottom right, red, blue);
    opacity: 0.3;
}
.eror {
    background-color: rgb(0, 26, 255);
}
.eror > h1 {
    /* max-width: 400px; */
    margin-top: -10px;
    font-weight: bold;
    text-align: center;
}
.eror > button {
    width: fit-content;
    font-size: 1.2rem;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 70%;
    margin-top: 10px;
    margin-left: -21.5px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.eror > button:hover {
    outline: 1px rgb(255, 0, 0) solid;
    opacity: 0.85;
    cursor: pointer;
}

/* screen */

.screen {
    border-radius: 20px 20px 0 0;
    outline: 0.1px solid black;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 150px;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    grid-column: 1 / -1; /* stavlja ovo u poslednji column*/
    background-color: rgb(75, 138, 255);
}
.rezultat {
    padding-top: 10px;
    padding-right: 15px;
    font-size: 2.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.current-broj {
    outline: none;
    border-radius: 5px;
    overflow: visible;
    text-align: right;
    color: black;
    font-weight: 600;
    width: 400px;
    font-size: 2.5rem;
}

/* dugmat */
#tema {
    font-size: 1.7rem;
}
.container-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(6, 80px);
}
.container-grid > button {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    outline: 0.1px solid black;
    border: none;
    background-color: rgb(127, 128, 131);
}
.span-two {
    grid-column: span 2;
}
.korijen {
    background-image: url(/img/ikonica_korijen.png);
    background-size: 70px 70px;
    padding: 30px;
    background-repeat: no-repeat;
}

/* media kveri */

@media (hover: none) {
    .container-grid > button:active {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@media (hover: hover) {
    .container-grid > button:hover {
        background-color: rgba(127, 128, 131, 0.5);
    }
}

/* decimale */

.decimale-container {
    display: flex;
    justify-content: center;
}
.Dtitle {
    color: white;
    text-align: center;
}
.ar-up:hover {
    cursor: pointer;
}

.ar-up {
    border-radius: 7px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: rgb(75, 138, 255);
    font-size: 1.8rem;

    width: fit-content;
}

.broj-decimala {
    text-align: center;
    border-radius: 7px;
    background: rgb(75, 138, 255);
    font-size: 1.8rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
}

.ar-down {
    border-radius: 7px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: rgb(75, 138, 255);
    font-size: 1.8rem;

    width: fit-content;
}

.ar-down:hover {
    cursor: pointer;
}
.binarni-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.binarni {
    border-radius: 7px;
    outline: none;
    box-sizing: border-box;
    border: none;
    background: rgb(75, 138, 255);
    font-size: 1.8rem;

    width: fit-content;
}

.binarniUi {
    display: none;
}
.Bscreen {
    border-radius: 20px 20px 0 0;
    outline: 0.1px solid black;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 150px;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    grid-column: 1 / -1; /* stavlja ovo u poslednji column*/
    background-color: rgb(75, 138, 255);
}
.Brezultat {
    padding-top: 10px;
    padding-right: 15px;
    font-size: 2.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
}

.Bcurrent-broj {
    outline: none;
    border-radius: 5px;
    overflow: visible;
    text-align: right;
    color: black;
    font-weight: 600;
    width: 400px;
    font-size: 2.5rem;
}

.binarni-container-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(2, 80px);
}
.binarni-container-grid > button {
    cursor: pointer;
    font-size: 2rem;
    color: white;
    outline: 0.1px solid black;
    border: none;
    background-color: rgb(127, 128, 131);
}
@media (hover: none) {
    .binarni-container-grid > button:active {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@media (hover: hover) {
    .binarni-container-grid > button:hover {
        background-color: rgba(127, 128, 131, 0.5);
    }
}
/* druga tema */
.background2 {
    position: absolute;
    top: 0;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
}
.decimale_title2 {
    color: black;
}

/* ister eg */

.button_darkviperau:hover {
    background-image: url(/img/brave_mBtwB4mBxj.png) !important;
    background-size: 80px 80px, cover !important;
}

.background_darkviperau {
    position: fixed;
    top: 0;
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    background-image: url(/img/brave_mBtwB4mBxj.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100vw 100vh !important;
}
